* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEwL2pvYjE4MTUtcmVtaXgtMDhhLWMuanBn.jpg');
    background-color: #7b7979;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;

}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.menu-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: auto;
}

.menu-container>div {
    margin-right: 10px;

}

.menu-container>div:last-child {
    margin-right: 0;
}

label,
input,
select {
    display: block;
    margin-bottom: 5px;
    margin-right: 8px;
}

input[type="text"],
select {
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3 6H21V8H3V6Z' fill='currentColor'/><path d='M3 11H21V13H3V11Z' fill='currentColor'/><path d='M3 16H21V18H3V16Z' fill='currentColor'/></svg>");
    background-size: 12px;
    background-position: right 10px center;
    background-repeat: no-repeat;
    width: 450px;
}

.menu-container .menu {
    display: flex;
    align-items: center;
    width: 900px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 10px #444;
    background-color: whitesmoke;



}

.menu-container .menu>div:last-child {
    margin-right: 0;
}

.add-task-btn {
    padding: 9px 35px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #d46d41;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s;
    position: relative;
    margin-top: 17px;

}

.add-task-btn:hover {
    background-color: #f0a00c;
}

.task-list {
    margin: 0 auto;
    width: 900px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 10px #444;
    background-color: whitesmoke;
}

.task {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.task.urgent {
    background-color: #f60505b1;
}

.task.daily {
    background-color: #ebc30fdd;
}

.task.monthly {
    background-color: #32ac8e;
}

.task:hover {
    background-color: #f9f9f9;
}

.task .delete-btn {
    padding: 5px 10px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: opacity 0.3s, transform 0.3s;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.task:hover .delete-btn {
    opacity: 1;
}

.alert-container {
    position: fixed;
    top: 17px;
    right: 20px;
    z-index: 1000;
}

.alert {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.alert.show {
    opacity: 1;
}

.alert.success {
    background-color: #4caf50;
    color: white;
}

.alert.error {
    background-color: #f44336;
    color: white;
}

@media (max-width: 768px) {
    .menu-container .menu {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        padding: 10px;
    }

    .menu-container {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .task-list {
        width: calc(100% - 20px);
        /* Resta el margen izquierdo y derecho para ajustarse al ancho total */
        padding: 10px;
        /* Ajusta el relleno */
    }

}

@media (max-width: 480px) {
    .menu-container .menu {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        padding: 5px;
    }

    .menu-container {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        gap: 10px;
    }

    .menu-container>div {
        margin-right: 0;
    }

    label,
    input,
    select {
        width: 100%;
        margin-right: 0;
    }

    .add-task-btn {
        width: 100%;
        margin-top: 10px;
    }

    .task-list {
        width: calc(100% - 10px);
        /* Resta el margen izquierdo y derecho para ajustarse al ancho total */
        padding: 5px;
        /* Ajusta el relleno */
    }
}